html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #2a2626;
    /* background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9; */

}
section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/src/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    z-index: -1; /* Чтобы фон был позади контента */
}
section {
    max-width: 1440px;
    width: 100%;
    margin: 100px auto 0;
    /* min-height: 100vh; */
    min-height: 914px;
    position: relative;
    z-index: 1;
}
.video::before {
    z-index: -1;
    content: none;
}
.video {
    position: relative;
    background-color: #fff;
    z-index: 2;
    min-height: 879px;
    margin-top: 0;
}
.video::after {
    content: "";
    /* color: red; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
    background-color: #42413c;
}
.cogn-img {
    position: absolute;
    height: 525px;
    top: 55px;
    left: 461px;
}
h1, h2, h3 {
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
}
h1 {
    font-size: 72px;
}
h1 span {
    color: #fe8a02;
}
h2 {
    font-size: 60px;
}
h3 {
    font-size: 34px;
    color: #fe8a02;
    margin:0;
}
.main-header {
    position: absolute;
    top: 100px;
    left: 165px;
    margin: 0 0;
}

.columns-2 p {
    margin-top: 0;
}
.columns-2 {
    position: absolute;
    max-width: 1110px;
    left:165px;
    top: 540px;
    column-count: 2;
    column-gap: 30px;
    padding-top: 30px;
}
.btn {
    position: absolute;
    top: 765px; 
    left: 735px;
    
    width: 148px;
    height: 49px;
    background-color: #fe8a02;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 25.6px; /* Выравнивание текста по вертикали */
    border: none;
}

.video-header {
    position: absolute;
    width: 1110px;
    top: 100px;
    left: 165px;
    margin: 0 0;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
}
.video-preview {
    width: 919px;
    height: 517px;
    display: block;
    position: absolute;
    top: 329px;
    left: 261px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
    z-index: 4;
  }
  .video-preview::before {
    content: '';
    position: absolute;
    width: 1440px;
    height: 100px;
    top: 814px;
    color: #42413c;
    z-index: -1; 
  }

  .title {
    font-weight:400;
    font-size: 16px;
    text-align: center;
    position: absolute;
    height: 26px;
    width: 1110px;
    margin: 0;
    top: 273px;
    left: 165px;
}
#navigation::before {
    z-index: -1;
    content: none;
}
#navigation {
    position: relative;
    background-color: #42413c;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 20px;
    align-content: start;
    justify-content: center;
    margin-top: 0;
    padding-top: 100px;
    box-sizing: border-box; 
    /* margin: auto; */ 
    min-height: 891px;
}
.card, .card-1 {
    width: 350px;
    background-color: #f5f4f0;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column; 
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
    /* border: 2px solid #000; */
}
.card {
    height: 323px;
}
.card-1 {
    height: 348px;
}
.card:first-child {
    background-color: transparent;
    cursor: default;
}
a.card, a.card-1 {
    text-decoration: none;
    color: inherit;
}

a.card:hover, a.card-1:hover {
    background-color: #e0ded7;
    transform: translateY(-5px);
}
a.card:hover .number,
a.card-1:hover .number,
a.card:hover .card-title2,
a.card-1:hover .card-title2,
a.card:hover .article,
a.card-1:hover .article, {
    color: #333;
}

.card-title1 {
    font-size: 52px;
    color: #f5f4f0;
    font-weight: 400;
} 
.number {
    position: absolute;
    font-size: 64px;
    color: #42413c;
    margin: 0;
    /* padding-left: 24px; */
    top: 24px;
    left: 24px;
}

.card-title2 {
    position: absolute;
    left: 24px;
    top: 128px;
    font-weight: 400;
}

.article, .article2, .article3 {
    position: absolute;
    left: 24px;
    width: 302px;
}
.article {
   top: 185px;
}
.article2 {
    top: 224px;
}
.article3 {
    top: 220px;
}

#ikea-effect {
position: relative;
min-height: 905px;
margin: 0 auto;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    position: relative;
    left: 165px;
    top: 100px;
    width: 100%;
}
.container-reverse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    left: 165px;
    top: 100px; 
    width: 100%;
    margin: 0 auto;
    position: absolute;
}

.container-reverse .two-column {
    flex-direction: row-reverse;
}
.container2 {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    position: absolute;
    left: 165px;
    top: 634px;
    width: 100%;
    gap: 30px;
    padding-top: 20px;
}

.column {
    flex: 1;
    line-height: 25.6px;
    padding-top:10px;
}

.two-column {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    vertical-align: middle;
}

.image-column{
    vertical-align: middle;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
} 

.text-column {
    flex: 1;
    min-width: 200px;
}
.title1-right, .title1-left {
    box-sizing: border-box;
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
    font-size: 24px;
    font-weight: 400;
    margin:0;
}
.title1-left {
    color: #fff;
}
.title1-right {
    color: #908D8B;
}

.title2-right {
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
    font-size: 34px;
    font-weight: 400;
    width: 502px;
    position: absolute;
    top: 131px;
    margin: 0;
    word-wrap: break-word;

}
.title2-left {
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
    font-size: 34px;
    font-weight: 400;
    width: 502px;
    max-width: 100%;
    position: absolute;
    top: 203px;
    margin: 0;
    color: #fff;

}
.title-right {
    margin: 0;
    font-weight: 400;
    font-size: 60px;
}
.title-left {
    margin: 0;
    font-weight: 400;
    font-size: 60px;
    color: #fff;
}

.title3-right, .title3-left {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.8px;
    margin: 0;
    top: 634px;
    left: 165px;
    width: 1110px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
    margin: 0 auto;
}
.title3-right {
    color: #fff;
    background-color:#b09a81;
}
.title3-left {
    color: #b09a81;
    background-color:#fff;
}

.title-white {
    color: #fff;
}

#premature-optimization {
    position: relative;
    min-height: 855px;
    margin: 0 auto;
    background-color:#b09a81;
    }

#distortion-of-novelty {
    position: relative;
    min-height: 880px;
    margin: 0 auto;
    }

 #hyperbolic-depreciation {
    position: relative;
    min-height: 937px;
    margin: 0 auto;
    background-color:#b09a81;
    }

#errors-in-planning {
    position: relative;
    min-height: 919px;
    margin: 0 auto;        
}
#footer::before {
    z-index: -1;
    content: none;
}
#footer {
    position: relative;
    min-height: 581px;
    margin: 0 auto; 
    background-color: #fff; 
}
 .form {
    background-color: #42413c;
    position: absolute;
    top: 100px;
    left: 165px;
    width: 1110px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: -1;
} 
.form-title {
    position: absolute;
    left:220px;
    top:155px;
    width: 393px;
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
    color:#fff;
    z-index: 2;
    margin:0;
}
.email {
    position: absolute;
    left:735px;
    top:138px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color:#fff;
    z-index: 1;   
    margin:0;
}

.input-wrapper {
    position: absolute;
    top: 175px;
    left: 735px;
    width: 423px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    /* border-radius: 5px; */
}

.email-input {
    flex: 1;
    height: 100%;
    padding: 15px;
    font-size: 13.1px;
    color: rgba(117, 117, 117, 0.2);
    border: none;
    outline: none;
    background: none;
    box-sizing: border-box;
}

.send-button {
    width: 70px;
    height: 50px;
    background: url('./src/images/send.png') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
}
.send-button:hover {
    filter: brightness(1.2);
}
.subscribe {
    position: absolute;
    left:735px;
    top:225px;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color:#fff;
    z-index: 1;   
    margin:0;
}
.underlined {
    text-decoration: underline;
    color: inherit;
}
.materials-link {
    position: relative;
    left: 484px;
    width: 471px;
    top: 386px;
}
.frame {
    text-align: center;
    height: 98px;
    display: flex;
    align-items: center;
}
.owner {
    position: absolute;
    left:91px;
    top:-20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color:#000;
    z-index: 1;   
    margin:0;
}

.materials {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color:#000;

}
.bluefont {
    color: #1085c5;
    text-decoration: underline;
}