html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #2a2626;
    background-color: #F5F4F0;
}
section {
    padding: 100px 0; 
    position: relative; 
}
section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("images/background.png");
    background-repeat: no-repeat; 
    background-position: 50% 0; 
    opacity: 0.1;
    z-index: -1; 
    /* margin-top: -100px; */
}
.m-container {
    max-width: 1110px; 
    width: 100%;
    margin: 0 auto;
    position: relative;
}

 .video::before {
    z-index: 1;
    content: none;
 }
.video {
    position: relative;
}
.bg-white {
    background-color: #fff;
}
.mbn100px {
    margin-bottom: -100px;
}

.cogn-img {
    position: absolute;
    height: 525px;
    top: -45px;
    left: 296px;
    z-index: 1;
}
h1, h2, h3 {
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
}
h1 {
    font-size: 72px;
}
span {
    color: #fe8a02;
}
h2 {
    font-size: 60px;
}
h3 {
    font-size: 34px;
    color: #fe8a02;
    margin:0;
}
.main-header {
    position: relative;
    z-index: 2;
    font-weight: 400;
    margin: 0;

}
.columns-2 p {
    margin-top: 0;
}
.columns-2 {
    position: relative;
    column-count: 2;
    column-gap: 30px;
    padding-top: 200px;
    line-height: 25px;
}
.btn {
    position: relative;
    margin-top: 40px; 
    margin-left: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 49px;
    background-color: #fe8a02;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 25.6px; /* Выравнивание текста по вертикали */
    border: none;
    text-decoration: none;
}

.video-header {
    position: relative;
    /* top: 72px;  */
    margin: 0 0;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
}
.video-link {
    position: relative;
    text-align: center;
    top: 30px; 
}
a {
    display: inline-block;

}
.video-preview {
    width: 919px;
    height: 517px;
    display: block;
    position: relative;
    /* top: 130px; */
    /* left: 261px;  */
    margin: 0 auto;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
    z-index: 4;
  }

  .title {
    font-weight:400;
    font-size: 16px;
    text-align: center;
    position: relative;
    /* height: 26px; */
    margin: 0;
    /* top: 100px;  */
}
#navigation::before {
    z-index: -1;
    content: none;
}

.bg-gray {
    width: 100%;
    background-color: #42413c;
}
.pt200 {
    padding-top: 200px;
}
.navigation {
    position: relative;
    background-color: #42413c;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 20px;
    /* align-content: start; */
    justify-content: center;
    box-sizing: border-box; 
    /* margin: 0 auto; */
    /* min-height: 891px; */
    /* max-width: 1110px; */
}
.card {
    width: 350px;
    background-color: #f5f4f0;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column; 
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
    /* border: 2px solid #000; */
    height: 323px;
}

.card:first-child {
    background-color: transparent;
    cursor: default;
}
a.card {
    text-decoration: none;
    color: inherit;
}

a.card:hover, a.card-1:hover {
    background-color: #e0ded7;
    transform: translateY(-5px);
}
a.card:hover .number,
a.card:hover .card-title2,
a.card:hover .article,
 {
    color: #333;
}

.card-title1 {
    font-size: 52px;
    color: #f5f4f0;
    font-weight: 400;
} 
.number {
    position: relative;
    font-size: 64px;
    color: #42413c;
    margin: 0;
    padding-left: 24px; 
    font-family: 'Neucha', cursive;
    font-weight: 400;
    /* top: 24px;
    left: 24px; */
}

.card-title2 {
    position: relative;
    padding-left: 24px;
    /* top: 128px;   */
    font-weight: 400;
}

.article, .article2, .article3 {
    position: relative;
    padding-left: 24px;
    width: 302px;
}


.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    position: relative;
    /* left: 165px; */
    top: 100px;
    width: 100%;
}
.container-reverse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    /* left: 165px; */
    top: 100px; 
    width: 100%;
    position: relative;
}

.container-reverse .two-column {
    flex-direction: row-reverse;
}
.column {
    flex: 1;
    line-height: 25.6px;
    padding-top:10px;
}

.two-column {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    vertical-align: middle;
}

.image-column{
    vertical-align: middle;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
} 

.text-column {
    flex: 1;
    min-width: 200px;
}
.title1-right, .title1-left {
    box-sizing: border-box;
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
    font-size: 24px;
    font-weight: 400;
    margin:0;
}
.title1-left {
    color: #fff;
}
.title1-right {
    color: #908D8B;
}

.title2-right {
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
    font-size: 34px;
    font-weight: 400;
    width: 502px;
    position: relative;
    top: 30px;
    margin: 0;
    word-wrap: break-word;

}
.title2-left {
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
    font-size: 34px;
    font-weight: 400;
    width: 502px;
    max-width: 100%;
    position: absolute;
    top: 203px;
    margin: 0;
    color: #fff;

}
.title-right {
    margin: 0;
    font-weight: 400;
    font-size: 60px;
}
.title-left {
    margin: 0;
    font-weight: 400;
    font-size: 60px;
    color: #fff;
}

.title3-right, .title3-left {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.8px;
    margin: 0;
    width: 1110px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 9px;
    margin: 0 auto;
    top: 195px;
    max-width: 1110px;
    box-sizing: border-box;
}
.title3-right {
    color: #fff;
    background-color:#b09a81;
}
.title3-left {
    color: #b09a81;
    background-color:#fff;
}

.title-white {
    color: #fff;
}

#premature-optimization {
    position: relative;
    min-height: 855px;
    margin: 0 auto;
    background-color:#b09a81;
    }

#distortion-of-novelty {
    position: relative;
    min-height: 880px;
    margin: 0 auto;
    }

 #hyperbolic-depreciation {
    position: relative;
    min-height: 937px;
    margin: 0 auto;
    background-color:#b09a81;
    }

#errors-in-planning {
    position: relative;
    min-height: 919px;
    margin: 0 auto;        
}
#footer::before {
    z-index: -1;
    content: none;
}
#footer {
    min-height: 581px;
    margin: 0 auto; 
    background-color: #fff; 
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}
 .block {
    background-color: #42413c;
    position: relative;
    min-width: 1110px;
    height: 190px;
    display: flex;
    z-index: -1;
} 
.form-title {
    position: relative;
    left:55px;
    top: 55px;
    width: 393px;
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
    color:#fff;
    z-index: 2;
    margin:0;
}
.form {
    position: relative;
    display: flex;
    flex-direction: column;
}
.email {
    position: relative;
    left:175px;
    top:38px;
    font-weight: 400;
    font-size: 18px;
    color:#fff;
    z-index: 1;   
    margin:0;
}

.input-wrapper {
    position: relative;
    top: 50px;
    left: 175px; 
    width: 485px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    /* border-radius: 5px; */
}

.email-input {
    flex: 1;
    height: 100%;
    padding: 15px;
    font-size: 13.1px;
    color: rgba(117, 117, 117, 0.2);
    letter-spacing: -0.4px;
    border: none;
    outline: none;
    background: none;
    box-sizing: border-box;
}

.send-button {
    width: 70px;
    height: 50px;
    background: url('./src/images/send.png') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
}
.send-button:hover {
    filter: brightness(1.2);
}
.subscribe {
    position: absolute;
    left:175px;
    top:125px;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color:#fff;
    z-index: 1;   
    margin:0;
}
.underlined {
    text-decoration: underline;
    color: inherit;
}
.materials-link {
    position: relative;
    min-width: 471px;
    height: 150px;
    top: 78px;
    text-align: center;
}

.owner {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color:#000;
    z-index: 1;   
    margin:0;
}

.materials {
    font-weight: 400;
    font-size: 14px;
    line-height: 260%;
    color:#000;
    letter-spacing: 0.2px;


}
.bluefont {
    color: #1085c5;
    text-decoration: underline;
}